.oneCoin {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1030px;
}

.oneCoin.light {
  background-color: #fff;
  color: #1a1a1c;
}

.oneCoin.dark {
  background-color: #1a1a1c;
  color: #fff;
}

.arrowLink {
  text-decoration: none;
}

.fa-arrow-left {
  font-size: 30px;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ac32e4), to(#4801ff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titlePage {
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 32px;
}